@{
    ViewBag.Title = "Home Page";
}

   <h1 class="text-center" >Conexion a base de datos northwind</h1>
   <div style="display: flex; align-items: center; justify-content: center;">
       <img src="https://pbs.twimg.com/media/FaRk6MKWQAAmG1F?format=jpg&name=small" class="img-rounded img-responsive">
   </div>
  